@model AddressBook.Models.GridViewModel

@{
    ViewBag.Title = "ContactListTable";

    var grid = new WebGrid(Model.Items, canPage: Model.CanPage, rowsPerPage: Model.RowsPerPage, 
    selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<div id="gridContent">
    @grid.GetHtml(columns: Model.Columns )
</div>
