@model AddressBook.Models.Contact

@{
    ViewBag.Title = "AddNewContact";
}

<h2>AddNewContact</h2>

@Html.Partial("_AddOrEditContact", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
