@{
    ViewBag.Title = "ShowContactList";
}

<h2>ShowContactList</h2>

<div id="contactListTable">

</div>

<div>
    <input type="button" value ="Add new contact" id="AddNewContactButton"/>
</div>

<div id="overlay"></div>
@section scripts
{
    @Scripts.Render("~/Scripts/AddressBook/ShowContactList.js")
}